body {
  direction: rtl;
  font-family: IRANSansWeb;
}

.data-grid-column {
  text-align: right !important;
  font-weight: bold !important;
  font-size: 15px !important;
  color: royalblue !important;
  font-family: IRANSansWeb;
}

.data-grid-row {
  color: coral !important;
  font-family: IRANSansWeb !important;
  font-size: 14px;
  text-align: right !important;
}